ul.tablist::after {
    content: '';
    display: table;
    height: 1px;
    background: red;
    clear: both;
    float: none;
}

ul.tablist li {
    float: left;
    border-bottom: 1px solid #aaa;
    padding: 10px 15px;
}

ul.tablist li a {
    color: #333;
    text-decoration: none;
}

ul.tablist li:hover {
    background: #fff;
}

ul.tablist li.active {
    background: #aaa;
    color: #fff;
}

ul.tablist li.active a {
    color: #fff;
    text-decoration: none;
}

ul.tablist li.closetabs {
    float: none;
    border: none;
    padding: 0px;
}

@media screen and (max-width: 480px) {
    
    ul.tablist {
        max-width: 98%;
    }
    
    ul.tablist li {
        float: none;
        clear: both;
        padding: 10px 15px;
        margin-bottom: 0px;
    }
    
    
}

pre.pp-data { 
    box-sizing: border-box;
    border: 1px solid gray;
    width: 98%;
    border-radius: 3px;
    padding: 10px;
    background: rgb(250,250,250);
}


